/* general rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.w-50 {
  width: 50%;
}

.w-33 {
  width: 33.33%;
  width: calc(100% / 3);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: grey;
  font-weight: lighter;
}

/* header */
header {
  height: 550px;
}

.header-container {
  width: 100%;
  height: 100%;
  min-width: 1400px;
  padding: 0 10%;
  background-color: rgb(12, 50, 90);
  background-image: url(../img/background-header.png);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 115% 100%;
}

/* navbar */
.header-nav {
  height: 80px;
  line-height: 80px;
}

.header-nav {
  height: 70px;
  overflow: hidden;
}

.header-nav .header-logo {
  width: 15%;
}

.header-nav .header-logo img {
  margin-top: 15px;
}

.header-nav .header-nav-center {
  width: 45%;
}

.header-nav .header-nav-right {
  width: 40%;
  text-align: right;
}

/* menu inline */
.menu-inline {
  list-style: none;
}

.menu-inline li {
  display: inline;
  padding: 0 10px;
  color: white;
  text-transform: uppercase;
}

.menu-inline li a {
  text-decoration: none;
  font-size: 80%;
}

.btn {
  display: inline-block;
  color: white;
  border-radius: 5px;
  line-height: 20px;
  padding: 5px 10px;
}

.btn.btn-blue {
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid white;
}

.btn.btn-green {
  background-color: yellowgreen;
}

.btn.btn-large {
  padding: 20px;
  text-decoration: none;
}

/* jumbotron */
.jumbotron {
  position: relative;
  height: 470px;
}

.jumbotron-txt {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.jumbotron-txt h1 {
  color: white;
  font-size: 350%; /* il triplo e mezzo rispetto al default */
  margin-bottom: 30px;
}

/* grey section */
.grey-sect{
  height: 100px;
  background-color: rgb(211, 211, 211);
}

.grey-sect .grey-par{
  padding: 20px;
  vertical-align: middle;
  line-height: 30px;
}

.grey-par h1{
  text-align: center;
  color: black;
}

.grey-par p{
  text-align: center;
}

/* sezione a tre */
.three-sect {
  position: relative;
  height: fit-content;
}

.three-sect .magicthree{
  width: 80%;
  height: fit-content;
  margin: auto;
}

.first.second.third{
  height: auto;
}

/* immagini e box*/
.mini-box{
  width: auto;
  height: fit-content;
  margin: 2px;
  padding: 80px;
}

.macro-box1{
  height: 60%;
}

.macro-box2{
  height: 40%;
}

.first-pic{
  max-height: 130px;
  height: 130px;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.second-pic{
  max-height: 130px;
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.third-pic{
  max-height: 130px;
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.green-title{
  max-height: 35px;
  font-size: 20px;
  text-align: center;
  color: rgb(166, 209, 84);
  margin-bottom: 40px;
}

.magicthree hr{
  width: 30%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  color: grey;
}

.pic-txt{
  margin-top: 15px;
  width: auto;
  text-align: center;
  font-weight: bold;
}

.fisrt-pic{
  height: 100px;
  width: 100px;
}

/* seconda sezione a due */
.magictwo{
  height: fit-content;
}

.two-sect {
  position: relative;
  height: fit-content;
  min-width: 1400px;
}

.two-sect hr{
  height: 0.3px;
  color: rgb(144, 144, 144);
}

.two-sect .magictwo{
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mount-pic img{
  height: 550px;
  margin-bottom: 30px;
}

.inspo-box{
  height: 300px;
  width: 80%;
}

.inspo-box h1{
  margin-bottom: 10px;
  font-size: 30px;
  color: black;
  font-weight: 500;
}

.inspo-box p{
  margin-bottom: 10px;
}

/* footer */
.inside-grey .strutt-piano{
  width: 40%;
  line-height: 100px;
  padding-left: 100px;
  font: bolder;
  color: black;
  font-weight: 500;
}

.other-menu{
  list-style: none;
  width: 60%;
  text-align: right;
  padding-right: 60px;
}

.other-menu li{
  line-height: 100px;
  padding-left: 10px;
  display: inline-block;
  text-transform: uppercase;
}

li h6{
  font-size: 16px;
}

li p {
  text-decoration: underline;
}

li p:after {
  content: '\2B9F';
}

/* linguetta help */
div.fixed {
  position: fixed;
  bottom: 0;
  right: 150px;
  width: 50px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  color: white;
  background-color: rgb(154, 205, 50);
}

/* parte extra */

/* parte delle manine */
.btn.btn-green.big-green{
  text-transform: uppercase;
}

.btn.btn-white{
  text-align: center;
  color: rgb(184, 198, 211);
}

.shaky-pic img{
  width: 700px;
  height: 250px;
  margin-bottom: 30px;
}

/* qua la sezione forever alone */
.the-solo-sect{
  height: 500px;
  background-color: rgb(255, 182, 182);
  margin-top: 10px;
}

.solo-sec{
  width: 80%;
  height: fit-content;
  margin: auto;
  background-color: rgb(181, 205, 250);
}

.set-pic{
  text-align: center;
  height: fit-content;
}

.set-pic img{
  width: 700px;
  height: 320px;
}

.set-txt{
  text-align: center;
  line-height: 30px;
}

.set-txt h1{
  color: black;
  letter-spacing: 0.1em;
}

.set-txt .h24{
  color: greenyellow;
}

/* qua vorrei trovare un modo per far andare a capo il p */

/* qua la parte w-50 blu */
.two-sect.clearfix.blue{
  height: 350px;
  background-color: rgb(12, 50, 89);
}

.magictwo.talk{
  background-color: rgb(12, 50, 89);
}

.box-azienda{
  padding-top: 80px;
  padding-right: 90px;
}

.box-azienda h1{
  margin-bottom: 30px;
  color: white;
}

.box-azienda p{
  margin-bottom: 20px;
}

/* altra parte a tre */
.teal .macro-box1 h1{
  margin-bottom: 10px;
  color: black;
}

.teal .macro-box2 hr{
  width: 100%;
  border: 5px solid rgb(158, 195, 239);
  margin-bottom: 20px;
}

.teal .macro-box2 a{
  color: rgb(158, 195, 239);
}


.orange .macro-box1 h1{
  margin-bottom: 10px;
  color: black;
}

.orange .macro-box2 hr{
  width: 100%;
  border: 5px solid rgb(248, 165, 9);
  margin-bottom: 20px;
}

.orange .macro-box2 a{
  color: rgb(248, 165, 9);
}

.green .macro-box1 h1{
  margin-bottom: 10px;
  color: black;
}

.green .macro-box2 hr{
  width: 100%;
  border: 5px solid rgb(128, 181, 13);
  margin-bottom: 20px;
}

.green .macro-box2 a{
  color:rgb(128, 181, 13);
}

/* qua c'è la parte delle FAQ */
.faq-sect{
  height: 150px;
  background-color: rgb(12, 50, 89);
}

.faq-par{
  margin-left: 200px;
}

.faq-sect .faq-par{
  padding: 30px;
  vertical-align: middle;
  line-height: 40px;
}

.faq-sect .faq-par h1{
  color: white;
}

.faq-par .faq{
  color: orange;

}
